{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
    <section class="bg-light p-3">
        <h1>Votre panier</h1>
    </section>

    <table class="table">
        <thead>
            <tr>
                <th>Evenement Sportif</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for element in dataPanier %}
                <tr>
                    <td>{{ element.evenement.sport }}</td>
                    <td class="text-end">{{ element.evenement.price }} €</td>
                    <td>{{ element.quantite }}</td>
                    <td class="text-end">{{ element.quantite * element.evenement.price }} €</td>
                    <td>
                        <a href="{{path("app_cart_add", {id: element.evenement.id})}}" class="btn btn-success">
                            <i class="fa-solid fa-circle-plus"></i>Ajouter
                        </a>
                        <a href="{{path("app_cart_remove", {id: element.evenement.id})}}" class="btn btn-warning">
                            <i class="fa-solid fa-minus"></i>Supprimer
                        </a>
                        <a href="{{path("app_cart_delete", {id: element.evenement.id})}}" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can"></i>Supprimer tout
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Votre panier est vide</td>
                </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="3">Total</td>
                <td class="text-end">{{ total }} €</td>
                <td>
                    <a href="{{path("app_cart_delete_all")}}" class="btn btn-danger">
                        <i class="fa-solid fa-trash-can"></i>Supprimer tout
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>

    <div>
        <a href="{{ path('app_orders')}}" class="btn btn-primary">Valider le panier</a>
    </div>
    
{% endblock %}