{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block body %}
    <h1>Créer un compte</h1>

    {{ form_errors(registrationForm) }}

    <div class="container">
    
    {{ form_start(registrationForm) }}
        <div class="m-3">
            {{ form_row(registrationForm.email) }}
        </div>

        <div class="m-3">
            {{ form_row(registrationForm.lastname, { label: 'Nom'}) }}
        </div>

        <div class="m-3">
            {{ form_row(registrationForm.firstname, { label: 'Prénom' }) }}
        </div>
        
        <div  class="m-3">
            <p>Le mot de passe doit comporter 15 caractères mimimum, 1 lettre majuscule, 1 lettre minuscule, 1 chiffre et 1 caractère spécial (#?!@$%^&*-). </p>
            {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'}) }}
        </div>

        <div class="m-3">
                {{ form_row(registrationForm.agreeTerms, {label: 'J\'ai lu et j\'accepte la politique de confidentialité' }) }}
        </div>

        <div class="m-3">
            <button type="submit" class="btn btn-lg btn-primary">Créer un compte</button>
        </div>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
