{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}

    <section class="bg-light p-3">
        <h1>Votre commande</h1>
        <h2>Prénom : {{ app.user.firstname }}</h2>
        <h2>Nom : {{ app.user.lastname }}</h2>
    </section>
        
    <section>
        <img src="{{ asset('build/images/stripe.png')}}" width="200" height="200" loading="lazy" alt="formualire de paiement" class="d-block mx-lg-auto img-fluid">

    </section>

    <section>
        {{ form_start(form) }}
            <button class="btn btn-success m-3 d-block mx-lg-auto">{{ button_label|default('Payer') }}</button>
        {{ form_end(form) }}

    </section>

    <section>
    <a href="{{ path('app_cart') }}">Retour au Panier</a>
    </section>
    <!-- problème de redirection
    <form action="/checkout" method="POST">
        <button type="submit" class="btn btn-primary btn-lg">Checkout</button>
    </form>
    -->

{% endblock %}