{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}

{% block body %}
    <h1>JO Studi  2024! Evènements sportifs</h1>

<section class="container">
    <div class="row">

        {% for evenement in evenements %}
            <form id="filters">
                <input type="checkbox" name="categories[]" id="cat{{ evenement.id}}" value="{{ evenement.id }}">
                <label for="cat{{ evenement.id}}">{{ evenement.location}}</label>
            </form>
        {% endfor %}
    
    <div class="row text-center" id="content">
        {% for evenement in evenements %}
            {% include "partials/evenement_block.html.twig" %}
        {% endfor %}
    </div>

</section>

{% endblock %}

{% block javascripts %}
    <script type ="module" src="{{ asset('scripts/filter.js')}}"></script>
{% endblock %}
