{% extends 'base.html.twig' %}

{% block title %}Evenement sportif
{% endblock %}

{% block body %}
	<h1>{{ evenement.sport }}</h1>
	
	<div class="row">
		<div class="col-2">
			{% if evenement.imageName %}
				<img src="{{ vich_uploader_asset(evenement, 'imageFile') }}" class="card-img-top" alt="sport {{ evenement.sport }}">
			{% else %}
				<img src="{{ asset('build/images/evenement-default.jpg') }}" class="card-img-top" alt="sport {{ evenement.sport }}">
			{% endif %}
		</div>

		<div class="col">
			<div >
				Date et heure :
				{% if evenement.date %}
					{{ evenement.date.format("d/m/Y H:m") }}
				{% else %}
					N/C
				{% endif %}
			</div>

			<div>
				Lieu :
				{% if evenement.location %}
					{{ evenement.location }}
				{% else %}
					N/C
				{% endif %}
				
			</div>

			<div>
				Nombre de places :
				{% if evenement.place %}
					{{ evenement.place}}
				{% else %}
					N/C
				{% endif %}
			</div>

			<div>
				Prix :
				{% if evenement.price %}
					{{ evenement.price}}
				{% else %}
					N/C
				{% endif %}
			</div>
		</div>
		
		<div class="mt-3">
			<a href="{{path("app_cart_add", {id: evenement.id})}}" class="btn btn-success">
            <i class="fa-solid fa-circle-plus"></i> Ajouter au panier</a>
		</div>
	</div>
{% endblock %}