{% extends 'base.html.twig' %}

{% block title %}Billet electronique{% endblock %}

{% block body %}
	<div>
		<h2 class="text-align-center">Billet pour Studi.JeuxOlympiques <br>
			Nom : {{ app.user.lastname }} <br>
			Prénom : {{ app.user.firstname }}
		</h2>
	</div>			
	
	<div>
		<img src="{{ qrCodeImage }}" alt="qr code" width='250' height='250'>
	</div>
        
	<div>
        <img src="{{ asset('build/images/logostudijo.png') }}"  alt="logo Studi.JO" height="80">
	</div>

	<button type="button" class="btn btn-success">
		<a class ="m-2"  href="{{ path('app_qrcode_pdf') }}">Télécharger votre billet au format PDF</a>
    </button>
			
	
{% endblock %}
