{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
    <section class="bg-light p-3">
        <h1>Votre commande</h1>
        <h2>{{ app.user.firstname }}</h2>
        <h2>{{ app.user.lastname }}</h2>
    </section>

    <table class="table">
        <thead>
            <tr>
                <th>Evenement Sportif</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
        </thead>

        <tbody>
            {% for element in ordersDetails %}
                <tr>
                    <td>{{ element.ordersDetails.quantity }}</td>
                    <td class="text-end">{{ element.ordersDetails.price }} €</td>
                    <td>{{ element.ordersDetails.evenement }}</td>
                </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="3">Total</td>
                <td class="text-end">{{ total }} €</td>
            </tr>
        </tfoot>
    </table>

    <div>
        <a href="{{ path('app_orders')}}" class="btn btn-primary">Payer</a>
    </div>
    
{% endblock %}
